In [3]:
import pandas as pd #Importa a biblioteca Pandas

#Cria uma base de dados com linhas e colunas
dados = {
    'Nome':['João Pedro', 'Maria Cecilia', 'Antonio Marques', 'Ana Paula'],
    'Idade':[19,29,34,47],
    'Cidade':['Brasilia','Brasilia','Goiania','São Paulo'],
    'Area':['Tecnologia','Juridico','Gestão','TI']
}

#Imprime todos os dados
dt = pd.DataFrame(dados)
display("DataFrame Criado com os Dados:",dt)

'DataFrame Criado com os Dados:'

              Nome  Idade     Cidade        Area
0       João Pedro     19   Brasilia  Tecnologia
1    Maria Cecilia     29   Brasilia    Juridico
2  Antonio Marques     34    Goiania      Gestão
3        Ana Paula     47  São Paulo          TI